@charset "utf-8";

/*
 * File       : sub-newsroom.css
 * Author     : STUDIO-JT (HEE)
 * Guideline  : JTstyle.1.1
 *
 * Dependency : css/reset.css
 *              css/jt-strap.css
 *
 * SUMMARY:
 * 1) NEWSROOM
 */



/* **************************************** *
 * NEWSROOM
 * **************************************** */
.page-template-newsroom .main-container {padding-top: 0;}

.page-template-newsroom .article-header__visual-bg {background-image: url(https://cdn.zeplin.io/62de4d0629e444128e2fd254/assets/c239c514-d4e5-4a80-845c-a441b6d44e9a-optimized.png);}
.page-template-newsroom .article-header__visual-bg:after {content: '';display: block;width: 100%;height: 50%;background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#000000));background: -webkit-linear-gradient(bottom, #000000, #000000);background: linear-gradient(0deg, #000000, #000000);background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, 0)));background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));position: absolute;bottom: 0;left: 0;}
.page-template-newsroom .article-body {padding-bottom: 0;}

.page-template-newsroom .article-body {padding-top: 100rem; padding-bottom: 196rem;}

.newsroom-title {font-size: 22rem;font-weight: 700;line-height: 1.46;color: #000; margin-bottom: 20rem;}

.jt-newsroom-tab {display: block;width: auto;margin: 0 auto 47rem; font-size: 0;}
.jt-newsroom-tab li {position: relative;display: inline-block; vertical-align: top; cursor: pointer;}
.jt-newsroom-tab li:after { content: ''; display: block; width: 6rem; height: 6rem; border-radius: 50%; background: #bbb; position: absolute; top: 50%; right: -3rem; margin-top: -4rem; }
.jt-newsroom-tab li:first-child a {padding-left: 0;}
.jt-newsroom-tab li:last-child a {padding-right: 0;}
.jt-newsroom-tab li:last-child:after {display: none;}
.jt-newsroom-tab li a {display: block;width: 100%;padding: 20rem 23rem;font-size: 48rem;font-weight: 700;line-height: 1.34;text-align: center;color: #bbb;-webkit-transition: color 300ms;transition: color 300ms;}
html.desktop .jt-newsroom-tab li:hover a, .jt-newsroom-tab li.jt-newsroom-tab--active a {color: #000;}
